@using System.Web.Security;
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <span class="nav navbar-nav navbar-right">
            <button class="btn btn-danger">
                Logout
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </button>
        </span>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="~/Account/Register"><span class="glyphicon glyphicon-user"></span>&nbsp;Register</a></li>
        <li><a href="~/Account/Login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a></li>
    </ul>
}