<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h5>Error.</h5>
        <h6>There has been an error while processing this request. Please try to @Html.ActionLink("Login", "Login", "Account") again.</h6>
    </hgroup>
</body>
</html>
