
@{
    ViewBag.Title = "NotFound";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h5>Application Error.</h5>
        <h6>There has been an error while processing this request (Page Not Found). Click here to go back to @Html.ActionLink("Home", "Index", "Home") again.</h6>
    </hgroup>
</body>
</html>
